<h1>Submited Projects</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!projects"><em>Loading...</em></p>

<table class='table' *ngIf="projects" class="table table-bordered">
  <thead>
    <tr>
      <th>Ex. Id</th>
      <th>In. Id</th>
      <th>Stops</th>
      <th>Vehicles</th>
      <th>Facilities</th>
      <th>Completed</th>
      <th>Transfered</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects" ng-class="{greenyellow: $index === 1}">
      <td>{{ project.externalRefrenceId }}</td>
      <td>{{ project.internalRefrenceId }}</td>
      <td>{{ project.stopNumber }}</td>
      <td>{{ project.vehiclesNumber }}</td>
      <td>{{ project.facilitiesNumber }}</td>
      <td>
       
          <div [ngClass]="okCompleted(project.internalRefrenceId)"></div>
       
      </td>
      <td> <div [ngClass]="okTransfered(project.internalRefrenceId)"></div></td>
      <td><input type="button" value="Send To RMS" [disabled]="isEnabled(project.internalRefrenceId)" class="btn btn-primary" /></td>
    </tr>
  </tbody>
</table>
