<h1>Submit Sample Project</h1>

<label>Routes:</label>
<select (change)="onChange($event)" class="form-control">
  <option value="0">--Select--</option>
  <option *ngFor="let route of routes"
          value={{route.id}}>
    {{route.name}}
  </option>
</select>
<hr />
<label>Stops</label>
<p *ngIf="!stops"><em>Loading Stops...</em></p>

<table class='table' *ngIf="stops" class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>quantity</th>
      <th>originalSequence</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stop of stops">
      <td>{{ stop.name }}</td>
      <td>{{ stop.latitude }}</td>
      <td>{{ stop.longitude }}</td>
      <td>{{ stop.quantity }}</td>
      <td>{{ stop.originalSequence }}</td>
    </tr>
  </tbody>
</table>

<hr />
<label>Vehicle</label>
<p *ngIf="!vehicles"><em>Loading Vehicles...</em></p>

<table class='table' *ngIf="vehicles" class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>starts</th>
      <th>ends</th>
      <th>startTime</th>
      <th>timeToComplete</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles" >
      <td>{{vehicle.id}}</td>
      <td>{{ vehicle.name }}</td>
      <td>
        <select name="{{'start' + vehicle.name}}" [(ngModel)]="vehicle.starts" class="form-control">

          <option *ngFor="let facility of facilites" 
                  value={{facility.name}}>
            {{facility.name}}
          </option>
        </select>
      </td>
      <td>
        <select name="{{'end'+vehicle.name}}" [(ngModel)]="vehicle.ends" class="form-control">

          <option *ngFor="let facility of facilites"
                  value={{facility.name}}>
            {{facility.name}}
          </option>
        </select>
      </td>
      <td>{{ vehicle.startTime }}</td>
      <td>{{ vehicle.timeToComplete }}</td>
      <td><input type="checkbox" name="{{'chk'+vehicle.name}}" [(ngModel)]="vehicle.active" /> </td>
    </tr>
  </tbody>
</table>
<br />
<button (click)="SendRequest()" class="btn btn-primary">Send Request</button>
