<h3>C2Logix Sample Integration</h3>

<div class="panel panel-default">
  <div class="panel-body">
    <h4>New Project</h4>
    User can create new projcet by selecting new Route when Route is selected we have list of geocoded stops,next step is selecting vhicles that are sopused to work on this route
    and for each vehicle we need to select where is the facility to start and end.
    after selction elemnts are needed in C2Logix to optimize route usr can send data to c2Logix,
    for each projcet we crate new entry in our environment which in the future we can keep track of submited projects and thier routing results.
    The project entity in our environment is
    <br />
    <br />
    <label>Projects</label>
    <ul class="list-group">
      <li class="list-group-item">[ID]</li>
      <li class="list-group-item">[ExternalRefrenceId]</li>
      <li class="list-group-item">[InternalRefrenceId]</li>
      <li class="list-group-item">[StopNumber]</li>
      <li class="list-group-item">[VehiclesNumber]</li>
      <li class="list-group-item">[FacilitiesNumber]</li>
      <li class="list-group-item">[OptimizerResponse]</li>
      <li class="list-group-item">[SubmitDate]</li>
      <li class="list-group-item">[OptimizedDate]</li>
      <li class="list-group-item">[IsCompleted]</li>
      <li class="list-group-item">[OptimizationLevel]</li>
      <li class="list-group-item">[LastRequestDate]</li>
      <li class="list-group-item">[IsTransfered]</li>
      <li class="list-group-item">[FacilitiesFileName]</li>
      <li class="list-group-item">[OptimizedReultFileName]</li>
      <li class="list-group-item">[StopsFileName]</li>
      <li class="list-group-item">[VehiclesFileName]</li>
    </ul>
    There is task in beackeand which looks at this table and if project is not completed sends request to c2Logix and if it is completed featches data and saves them in internal table
    <h4>Monitor Projects</h4>
    user can monitor uploaded projects in this panel and if the project is completed sends data to RMS
    <br />
    <br />
    <label> c2Logix Result </label>
    <ul class="list-group">
      <li class="list-group-item">[ID]
      <li class="list-group-item">[RouteName]</li>
      <li class="list-group-item">[DayId]</li>
      <li class="list-group-item">[VehicleName]</li>
      <li class="list-group-item">[CustomerName]</li>
      <li class="list-group-item">[StopPosition]</li>
      <li class="list-group-item">[TsStopType]</li>
      <li class="list-group-item">[TypeStops]</li>
      <li class="list-group-item">[StopType]</li>
      <li class="list-group-item">[StopDriveTime]</li>
      <li class="list-group-item">[StopStartTime]</li>
      <li class="list-group-item">[StopDriveDistance]</li>
      <li class="list-group-item">[StopDuration]</li>
      <li class="list-group-item">[StopElapsedDistance]</li>
      <li class="list-group-item">[FacilityName]</li>
      <li class="list-group-item">[InternalRefrenceId]</li>
      <li class="list-group-item">[ExternalRefrenceId]</li>
    </ul>

  </div>
</div>


